[submodule "home/.vim/colors/jellybeans"]
	path = home/.vim/colors/jellybeans
	url = git@mars:jellybeans.git
[submodule "home/.vim/colors/molokai"]
	path = home/.vim/colors/molokai
	url = git@mars:molokai.git
[submodule "home/.vim/colors/solarized"]
	path = home/.vim/colors/solarized
	url = git@mars:solarized.git
[submodule "home/.vim/colors/badwolf"]
	path = home/.vim/colors/badwolf
	url = git@mars:badwolf.git
[submodule "home/.vim/bundle/vim-elixir"]
	path = home/.vim/bundle/vim-elixir
	url = git@mars:vim-elixir.git
[submodule "home/.vim/bundle/vim-sensible"]
	path = home/.vim/bundle/vim-sensible
	url = git@mars:vim-sensible.git
[submodule "home/.vim/bundle/vim-rust"]
	path = home/.vim/bundle/vim-rust
	url = git@mars:vim-rust.git
[submodule "home/.password-store"]
	path = home/.password-store
	url = git@mars:password-store.git
